body {
  background-color: #151937;
  color: white;
}

.text-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ff5ea3, #ffa7a9);
}

.btn-gradient {
  background-image: linear-gradient(to right, #ff5ea3, #ffa7a9);
}
